<a href="https://colab.research.google.com/github/acmartinezl/acmartinezl.github.io/blob/master/exploraci%C3%B3ndatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install leila

In [20]:
import numpy as np
import pandas as pd
import leila

In [21]:
from leila import datos_gov

# Abrir la base de datos original con los metadatos (asset inventory)
# del Portal de Datos Abiertos
inventario = datos_gov.tabla_inventario()

columnas_valor = {"nombre": ["COVID"], "tipo": ["conjunto de datos"], "dueno": ["Instituto Nacional de Salud"]}
# Buscar bases cuya descripción incluya
#columnas_valor = {"descripcion": ["economia", "ambiente"]}
tabla_filtrada = datos_gov.filtrar_tabla(columnas_valor)
tabla_filtrada

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.
WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

      numero_api  ... base_publica
10714  jrb3-mnpr  ...           Si
13758  8835-5baf  ...           Si
16830  gt2j-8ykr  ...           Si

[3 rows x 25 columns]

In [22]:
tabla_id = tabla_filtrada.iloc[0].numero_api
datos1 = datos_gov.cargar_base(tabla_id)
datos1.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

                departamento  ... total_procesada
0  * PROCEDENCIA DESCONOCIDA  ...            8871
1                   AMAZONAS  ...               2
2                   AMAZONAS  ...           14485
3                   AMAZONAS  ...               1
4                   AMAZONAS  ...               1

[5 rows x 4 columns]

In [23]:
tabla_id = tabla_filtrada.iloc[1].numero_api
datos2 = datos_gov.cargar_base(tabla_id)
datos2.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

                     fecha acumuladas  ... cartagena santa_marta
0            Acumulado Feb        601  ...       NaN         NaN
1  2020-03-05T00:00:00.000        636  ...       NaN         NaN
2  2020-03-06T00:00:00.000        739  ...       NaN         NaN
3  2020-03-07T00:00:00.000        810  ...       NaN         NaN
4  2020-03-08T00:00:00.000        813  ...       NaN         NaN

[5 rows x 43 columns]

In [24]:
tabla_id = tabla_filtrada.iloc[2].numero_api
datos3 = datos_gov.cargar_base(tabla_id)
datos3.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

  id_de_caso    fecha_de_notificaci_n  ... nombre_grupo_etnico fecha_de_muerte
0          1  2020-03-02T00:00:00.000  ...                 NaN             NaN
1          2  2020-03-06T00:00:00.000  ...                 NaN             NaN
2          3  2020-03-07T00:00:00.000  ...                 NaN             NaN
3          4  2020-03-09T00:00:00.000  ...                 NaN             NaN
4          5  2020-03-09T00:00:00.000  ...                 NaN             NaN

[5 rows x 21 columns]

In [25]:
columnas_valor2 = {"nombre": ["tabaco"], "tipo": ["conjunto de datos"]}
tabla_filtrada2 = datos_gov.filtrar_tabla(columnas_valor2)
tabla_filtrada2

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

        numero_api  ... base_publica
49     6sem-aayu:1  ...           No
695    mw43-g53k:0  ...           No
13553    6sem-aayu  ...           Si
19546  t79c-6bt2:0  ...           No

[4 rows x 25 columns]

In [26]:
datost= datos_gov.cargar_base('6sem-aayu')
datost.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

                                               sexo  ... percentil_75
0                                            Hombre  ...         18.0
1                                             Mujer  ...         19.0
2                                Total Departamento  ...         19.0
3                                    Total Nacional  ...         18.0
4  Edad de inicio del consumo de tabaco según sexo.  ...          NaN

[5 rows x 5 columns]

In [30]:
# Se importan las funciones de la librería
from leila import reporte

# Se invoca la función para generar el reporte de calidad de datos
reporte.generar_reporte(df=datos3)

La base de datos no tiene columnas numéricas
No hay filas duplicadas
No hay columnas duplicadas
La base de datos no tiene columnas numéricas

/usr/local/lib/python3.6/dist-packages/leila/calidad_datos.py:1137: RuntimeWarning: invalid value encountered in double_scalars
  return np.sqrt(phi2corr / min((kcorr - 1), (rcorr - 1)))

--------------------------------------------------------------------------------------------
Se ha generado el reporte "/content/perfilamiento_leila.html"
11:10:14 PM (09 min 33 seg)
--------------------------------------------------------------------------------------------

In [44]:
datos3[['atenci_n', 'estado']].groupby(['atenci_n', 'estado']).size()

atenci_n      estado
Casa          Asintomático     24255
              Leve            112435
Fallecido     Asintomático         1
              Fallecido        16182
Hospital      Asintomático       186
              Moderado         18333
Hospital UCI  Asintomático        95
              Grave             2087
N/A           Asintomático        53
              N/A                968
Recuperado    Asintomático     35134
              Grave              311
              Leve            301555
              Moderado          2024
              N/A                100
dtype: int64

In [45]:
datos3[['estado','atenci_n']].groupby(['estado','atenci_n']).size()

estado        atenci_n
Asintomático  Casa             24255
              Fallecido            1
              Hospital           186
              Hospital UCI        95
              N/A                 53
              Recuperado       35134
Fallecido     Fallecido        16182
Grave         Hospital UCI      2087
              Recuperado         311
Leve          Casa            112435
              Recuperado      301555
Moderado      Hospital         18333
              Recuperado        2024
N/A           N/A                968
              Recuperado         100
dtype: int64